*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}

body{
    background: #ECF0F1;
}


nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    background: #0babd3;
    position: sticky;
    top: 0%;
    z-index: 100;
}

.fb_text{


   margin-left: 10px;
   width: 160px;

}

.navi_left, .navi_right{
    display: flex;
    align-items: center;
}

.navi_left ul li{
    list-style: none;
    display: inline-block;
}

.navi_left ul li img{

    width: 25px;
    margin: 0 25px;
}

.nav_user_icon img{
    width: 40px;
    border-radius: 40%;
    cursor: pointer;

}

.nav_user_icon{
    margin-left: 30px;
}


.search_box{
    width: 350px;
    background: rgb(241, 245, 244);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search_box img{

    width: 20px;
}

.search_box input{
    width: 100%;
    height: 10px;
    background: transparent;
    padding: 11px;
    outline: transparent;
    border: 5px;
}

.online{
    position: relative;
}
.online::after{
    content: '';
    width: 8px;
    height: 8px;
    border: 2px solid #fff ;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;

}

.Container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;


}

.left_side_bar{

  flex-basis: 26%;
  position: sticky;
  top: 60px;
  align-self: flex-start;
  background: white;
  padding: 20px;
  border-radius: 4px;
  color: gray;

}
.right_side_bar{

    flex-basis: 26%;
    position: sticky;
    top: 60px;
    align-self: flex-start;
    background: white;
    padding: 20px;
    border-radius: 4px;
    color: gray;

}

.middle_content{
  flex-basis: 47%;

}

.important_links a , .shortcut_links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 30px;
    color: #696767;
    width: fit-content;

}

.important_links img, .shortcut_links img {
    margin-right: 14px;
    width: 25px;
}

.important_links a:last-child{
    margin-bottom: 20px;
    color: #1137e4;
}

.important_links{
    border-bottom: 1px solid #292a2b;

}

.shortcut_links p{
    margin: 20px;
    font-size: 15px;
}

.side_bar_title{
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.side_bar_title h4{
  font-size: 20px;
  font-weight: bold;
}
.side_bar_title a{
  font-size: 14px;
  text-decoration: none;
  color: blue
}


.Events{
  font-size: 15px;
  display: flex;
  margin-bottom: 20px;

}



.left_event{
  height: 64px;
  border-radius: 10px;
  width: 64px;
  margin-right: 14px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right_event a{
  font-size: 12px;
  color: blue;
  text-decoration: none;
}

.left_event span{
  bottom: 0;
  position: absolute;
  left: 0;
  width: 100%;
  background: #0AC4F2;
  color: white;
  font-size: 11px;
  padding: 4px 0;
}

.left_event h3{
  margin-top: 10px;

}
.side_adds{
  border-radius: 4px;
  margin-bottom: 20px;
  width: 100%;
}
.online_list{
  align-items: center;
  display: flex;
  margin-bottom: 20px;

}
.online_list .online img{
  width: 40px;
  border-radius: 50%;
}

.online_list .online_name{
  margin-left: 10px;
}
