*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}


:root{
  --body-color:#ECF0F1;
  --nav-color: #1876f2;
  --bg-color:white;
    
}

.dark_theme{
  --body-color:#1f1e1e;
  --nav-color: rgb(32, 31, 31);
  --bg-color:rgb(36, 34, 34);
}

body{
    background: var(--body-color);
    transition: background 0.0s;
}


nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5%;
    background:var(--nav-color);
    position: sticky;
    top: 0%;
    z-index: 100;
}

.fb_text{


   margin-left: 10px;
   width: 160px;

}

.navi_left, .navi_right{
    display: flex;
    align-items: center;
}

.navi_left ul li{
    list-style: none;
    display: inline-block;
}

.navi_left ul li img{

    width: 25px;
    margin: 0 25px;
}

.nav_user_icon img{
    width: 40px;
    border-radius: 40%;
    cursor: pointer;

}

.nav_user_icon{
    margin-left: 30px;
}


.search_box{
    width: 350px;
    height: 35px;
    background: rgb(241, 245, 244);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search_box img{

    width: 20px;
}

.search_box input{
    width: 100%;
    height: 10px;
    background: transparent;
    padding: 11px;
    outline: transparent;
    border: 5px;
}

.online{
    position: relative;
}
.online::after{
    content: '';
    width: 8px;
    height: 8px;
    border: 2px solid #fff ;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;

}

.Container{
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
    padding-left: 5px;
    padding-right: 2%;


}

.left_side_bar{

  flex-basis:26%;
  position: sticky;
  top: 60px;
 align-self: flex-start;
  background:var(--bg-color);
  padding: 20px;
  border-radius: 4px;
  color: gray;

}
.right_side_bar{

    flex-basis: 26%;
    position: sticky;
    top: 60px;
    align-self: flex-start;
    background: var(--bg-color);
    padding: 20px;
    border-radius: 4px;
    color: gray;

}

.middle_content{
  flex-basis: 47%;

}

.important_links a , .shortcut_links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 30px;
    color: #696767;
    width: fit-content;

}

.important_links img  {
    margin-right: 14px;
    width: 25px;
}
.shortcut_links img{
  margin-right: 14px;
  width: 25px;
  background: rgb(238, 139, 58);
  
}

.important_links a:last-child{
    margin-bottom: 20px;
    color: #1137e4;
}

.important_links{
    border-bottom: 1px solid #292a2b;

}

.shortcut_links p{
    margin: 20px;
    font-size: 15px;
}

.side_bar_title{
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.right_side_bar h3{
  font-size: 15px;
  font-weight: bold;
}
.side_bar_title a{
  font-size: 14px;
  text-decoration: none;
  color: blue
}


.Events{
  font-size: 15px;
  display: flex;
  margin-bottom: 10px;

}



.left_event{
  height: 64px;
  border-radius: 10px;
  width: 64px;
  margin-right: 14px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right_event a{
  font-size: 12px;
  color: blue;
  text-decoration: none;
}

.left_event span{
  bottom: 0;
  position: absolute;
  left: 0;
  width: 100%;
  background: #0AC4F2;
  color: rgb(0, 0, 0);
  font-size: 12px;
  padding: 4px 0;
}

.left_event h3{
  margin-top: 10px;

}
.side_adds{
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
  height: 250px;
}
.online_list{
  align-items: center;
  display: flex;
  margin-bottom: 20px;

}
.online_list .online img{
  width: 40px;
  border-radius: 50%;
}

.online_list .online_name{
  margin-left: 10px;
}

.online_list .online::after{
  top: unset;
  bottom: 5px;
}

.story_galary{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.story{
  padding-top: 32%;
  flex-basis: 18%;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.story img {
  position: absolute;
  border-radius: 50%;
  width: 35px;
  top: 10px;
  left: 10px;
  border: 2px solid #f7f4f4;
}

.story p{
  bottom: 10px;
  width: 100%;
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 15px;

}

.s1{
  background-image:linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/story1.jpg);
}

.s2{
  background-image:linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/story2.jpg);
}


.s3{
  background-image:linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/story3.jpg);
}

.s4{
  background-image:linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/story4.jpg);
}

.s5{
  background-image:linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/story5.jpg);
}

.story.s1 img {
  left: 50%;
  top: unset;
  bottom: 40px;
  transform: translate(-50%);
  border: 2px solid #f7f4f4;
  width: 34px;
}

.write_post_container{
background:var(--bg-color);
width: 100%;
border-radius: 5px;
padding: 20px;
color: #080808;
}

.user_profile{
  display: flex;
  align-items:center ;
}

.user_profile img{
  border-radius: 50%;
  margin-right: 10px;
  width: 45px;
}
.user_profile p{
  font-weight: 500%;
  margin-bottom: -5px;
  
}

.user_profile small{
  font-size: 12px;
  color: #7d8083;
}

.post_input_container{
  padding-left: 56px;
  padding-top: 20px;

}

.post_input_container textarea{
  border: 0;
  width: 100%;
  outline: 0;
  border-bottom:1px solid #ccc  ;
  background: transparent;
  resize: none;

}

.add_post_links{
 display: flex;
  margin-top: 10px;

}
.add_post_links a{
  display: flex;
  text-decoration: none;
  align-items: center;
  color: slateblue;
  margin-right: 31px;
  font-size: 13px;
}

.add_post_links img{
  margin-right: 5px;
  width: 20px;
}


.post_container{
  background:var(--bg-color);
width: 100%;
border-radius: 5px;
padding: 20px;
color: #080808;
margin-top: 15px;

}
.user_profile span{

  font-size: 10px;
  color: #7d8083;
  margin-top: 5px;
}

.a1{
  margin-right: 5px;
}

.post_text{
  margin-top: 10px;
  font-size: 15px;
}

.post_text span{
  font-weight: bold;
  color: red;
}

.pt a{
  text-decoration: none;
  color: #4c08eb;
}

.post_1{
  border-radius: 4px;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.post_row{
  align-items: center;
  display:flex;
  justify-content: space-between;
}

.activity_icons  div img{
  width: 18px;
  margin-right: 10px;


}
.activity_icons  div{
  display: inline-flex;
  align-items: center;
  margin-right: 31px;

}

.post_profile_icon{
  display: flex;
  align-items: center;

}

.post_profile_icon img{
  color: #7e7979;
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.post_row a{
  color: #7e7979;
}

.load_more{
  display: block;
  cursor: pointer;
  margin: auto;
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solod #9a9a9a;
  color: rgb(139, 136, 136);
  background: transparent;
  border-radius: 5px;

}

.footer{
text-align: center;
color: rgb(51, 48, 48);
padding: 10px 10px 20px;
font-size: 15px;
}
.setting-menu{
  width:100%;
  position: absolute;
  max-width: 387px;

  background:var(--bg-color);
  box-shadow: 0 0 10px rgb(0, 0, 0 , 0.4);
  border-radius: 4px;
  overflow: hidden;
  top: 62px;
  right: 1.9%;
  max-height:0;
  transition: 1s;

}

.setting-menu-height{
  max-height: 450px;
}

.user_profile a{
color: dodgerblue;
font-size: 13px;
text-decoration: none;
}

.setting_menu_inner{
  padding: 20px;
}

.setting_menu hr{
  height: 1px;
  background: #292a2b;
  margin: 15px 0;
  border: 0;
}

.setting_links{
display: flex;
align-items: center;
margin: 15px 0;
}

.setting_links .setting_icon {
 width: 38px;
 margin-right: 10px;
 border-radius: 50%;
}


.setting_links a{
 display: flex;
 flex:1;
 align-items: center;
 justify-content: space-between;
 text-decoration: none;
 color: #696767;
}

#dark_btn{
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  background: #ccc;
  width: 45px;
  border-radius: 15px;
  padding: 2px 3px;
  cursor: pointer;
  transition  : padding-left 0.5s, background 0.6s;

}

#dark_btn span{
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 51%;
  display: inline-block;
}

 #dark_btn.dark_btn_on{
  padding-left: 23px;
  background: #292828;

} 
